<%- include ("../_partial/_header.ejs"); %>
    <div class="row" style="border-bottom: 1px solid #b5b9bd; padding-bottom: 25px;">
        <div class="col-md-6">
            <h1 style="font-size: 2.5em; font-weight: bold;">Dashboard</h1>
        </div>
        <div class="col-md-6" style="border-left: 2px solid #b5b9bd;">
            <p>
                <strong>
                    Number of Users: 
                </strong>
                <%=users.length%> &#128104; | 
                <%=users.filter(user => user.active).length%> <span style="color: green; display: inline-block; width: 12px; height: 12px; border-radius: 50%; background-color: green;"></span> | 
                <%=users.filter(user => !user.active).length%> <span style="color: red; display: inline-block; width: 12px; height: 12px; border-radius: 50%; background-color: red;"></span>
            </p>
            <p>
                <strong>
                    Number of Posts: 
                </strong>
                <%=posts.length%> &#128220;
            </p>
            <p>
                <strong>
                    Online Users: 
                </strong>
                <%=sessions.length%> <span style="color: green; display: inline-block; width: 12px; height: 12px; border-radius: 50%; background-color: green;"></span>
            </p>            
        </div>
    </div>
    <div class="row" style="border-top: 1px solid #b5b9bd; border-bottom: 1px solid #b5b9bd">
        <div class="col-md-8">
            <h2><strong>Username</strong></h2>
        </div>
        <div class="col-md-2">
            <h2><strong>State</strong></h2>
        </div>
        <div class="col-md-2">
            <h2><strong>Role</strong></h2>
        </div>
    </div>
    <form action="/dashboard/role" method="post">
        <input type="hidden" name="page" value="<%= pageNum %>">
        <% users.forEach(user => { %>
            <div class="row" style="border-top: 1px solid #b5b9bd; border-bottom: 1px solid #b5b9bd">
                <div class="col-md-8">
                    <a href="/profile/<%= user.username %>"><h4><%= user.username %></h4></a>
                </div>
                <div class="col-md-2">
                    <input type="hidden" name="username" value="<%= user.username %>">
                    <select name="active">
                        <option value=true <%= user.active===true ? 'selected' : '' %>>Active</option>
                        <option value=false <%= user.active===false ? 'selected' : '' %>>Disable</option>
                    </select>                        
                </div>
                <div class="col-md-2">
                    <% if(user.role==='admin')
                    { %>
                    <select name="role">
                        <option value="admin">Admin&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</option>
                    </select>
                    <% }
                    else
                    { %>
                    <select name="role">
                        <option value="member" <%= user.role==='member' ? 'selected' : '' %>>Member</option>
                        <option value="mod" <%= user.role==='mod' ? 'selected' : '' %>>Moderator</option>
                    </select>
                    <% } %>                
                </div>
            </div>
        <% }) %>
        <div class="row">
            <div class="col-md-11">
                <div class="pagination">
                    <% let start = Math.max(1, pageNum - 3); %>
                    <% let end = Math.min(max, start + 6); %>
                    <% if (start > 1) { %>
                        <a href="?page=1" class="btn btn-sm btn-light font-weight-bold" style="font-size: 20px;">1</a>
                        <% if (start > 2) { %>
                            <span class="btn btn-sm btn-light font-weight-bold disabled" style="font-size: 20px;">...</span>
                        <% } %>
                    <% } %>
                    <% for (let page = start; page <= end; page++) { %>
                        <% if (pageNum === page) { %>
                            <span class="btn btn-sm btn-primary font-weight-bold disabled" style="font-size: 20px;"><%= page %></span>
                        <% } else { %>
                            <a href="?page=<%= page %>" class="btn btn-sm btn-light font-weight-bold" style="font-size: 20px;"><%= page %></a>
                        <% } %>
                    <% } %>
                    <% if (end < max) { %>
                        <% if (end < max - 1) { %>
                            <span class="btn btn-sm btn-light font-weight-bold disabled" style="font-size: 20px;">...</span>
                        <% } %>
                        <a href="?page=<%= max %>" class="btn btn-sm btn-light font-weight-bold" style="font-size: 20px;"><%= max %></a>
                    <% } %>
                </div>
            </div>
            <div class="col-md-1" style="padding-top: 27px;">
                <button type="submit" class="btn btn-info">Update</button>
            </div>
        </div>
    </form> 
    
<%- include ("../_partial/_footer.ejs"); %>