<!DOCTYPE html>
<html>
<head>
  <title>Chat with <%=user.username%></title>
  <style>
    body { 
      margin: 0; 
      padding-bottom: 3rem; 
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif; 
    }
    #form { 
      background: rgba(0, 0, 0, 0.15); 
      padding: 0.25rem; 
      position: fixed; 
      bottom: 0; 
      left: 0; 
      right: 0; 
      display: flex; 
      height: 3rem; 
      box-sizing: border-box; 
      backdrop-filter: blur(10px); 
    }
    #input { 
      border: none; 
      padding: 0 1rem; 
      flex-grow: 1; 
      border-radius: 2rem; 
      margin: 0.25rem; 
    }
    #input:focus { 
      outline: none; 
    }
    #form > button { 
      background: #333; 
      border: none; 
      padding: 0 1rem; 
      margin: 0.25rem; 
      border-radius: 3px; 
      outline: none; 
      color: #fff; 
    }
    #messages { 
      list-style-type: none; 
      margin: 0; 
      padding: 0; 
    }
    .sent { 
      background: #efefef; 
      color: #333; 
    }
    .received { 
      background: #d4edda; 
      color: #155724; 
    }
    .username { 
      font-weight: bold; 
      color: #007bff; /* Blue color for username */
    }
    .you { 
      font-weight: bold; 
      color: #dc3545; /* Red color for "You" text */
    } 
  </style>
</head>
<body>
  <strong>Chat with <span id="username" class="username"><%=user.username%></span></strong>
  <ul id="messages"></ul>
  <form id="form" action="">
    <input id="input" autocomplete="off" placeholder="Type a message..." /><button>Send</button>
  </form>

  <script src="/socket.io/socket.io.js"></script>
  <script>
    var socket = io({ query: { userID: '<%=user._id%>' } });

    var messages = document.getElementById('messages');
    var form = document.getElementById('form');
    var input = document.getElementById('input');

    form.addEventListener('submit', function(e) {
      e.preventDefault();
      var message = input.value.trim();
      if (message) {
        socket.emit('private message', { recipientId: '<%=user._id%>', message: message });
        appendMessage('You', message, 'sent');
        input.value = '';
      }
    });

    socket.on('private message', function(data) {
      var sender = '<%=user.username%>';
      appendMessage(sender, data.message, 'received');
    });

    function appendMessage(sender, message, className) {
      var item = document.createElement('li');
      var senderText = sender === 'You' ? '<span style="font-weight: bold; color: #dc3545;">You</span>' : '<span class="username" style="font-weight: bold; color: #007bff;">' + sender + ':</span>';
      item.innerHTML = senderText + ' ' + message;
      item.classList.add(className); // Add the appropriate class for styling
      messages.appendChild(item);
      window.scrollTo(0, document.body.scrollHeight);
    }
  </script>
</body>
</html>
