<%- include ("../_partial/_header.ejs"); %>

<div class="row" style="padding-bottom: 20px;">
    <div class="col-md-6">
        <h1 style="font-size: 2.5em; font-weight: bold;">Setting</h1>
    </div>
</div>

<div class="row" style="padding-bottom: 20px;">
    <div class="col-md-3"></div>
    <div class="col-md-2"> <!-- Adjusted column size -->
        <strong>Lastest Activity:</strong>
    </div>
    <div class="col-md-3">
        <p><%=user.personalID.log[user.personalID.log.length-1]%></p>
    </div>
    <div class="col-md-1"> <!-- Adjusted column size -->
        <a href="/profile/<%=user.username%>/activity">Detail</a>
    </div>
</div>

<div class="row" style="padding-bottom: 20px; border-bottom: 5px solid #b5b9bd;">
    <div class="col-md-3"></div>
    <div class="col-md-2"> <!-- Adjusted column size -->
        <strong>Email: </strong>
    </div>
    <div class="col-md-3">
        <p><%= user.email %></p>
    </div>
    <div class="col-md-1"> <!-- Adjusted column size -->
        <a>Change</a>
    </div>
</div>
<form action="/profile/<%=user.username%>/setting" method="post">
    <div class="row" style="padding-bottom: 20px; padding-top: 20px;">
        <div class="col-md-3"></div>
        <div class="col-md-2"> <!-- Adjusted column size -->
            <strong>Notification: </strong>
        </div>
        
            <div class="col-md-3">
                <select id="notify" name="notify">
                    <option value=true <%= user.personalID.notify===true ? 'selected' : '' %>>Enabled</option>
                    <option value=false <%= user.personalID.notify===false ? 'selected' : '' %>>Disabled</option>
                </select>
            </div>
    </div>
    <div class="row" style="padding-bottom: 20px;">
        <div class="col-md-3"></div>
        <div class="col-md-2"> <!-- Adjusted column size -->
            <strong>Dark Mode:</strong>
        </div>
        <div class="col-md-3">
            <select id="darkMode" name="darkMode">
                <option value=true <%= user.personalID.darkMode===true ? 'selected' : '' %>>Enabled</option>
                <option value=false <%= user.personalID.darkMode===false ? 'selected' : '' %>>Disabled</option>
            </select>
        </div>
        <div class="col-md-1"> <!-- Adjusted column size -->
            <button type="submit" class="btn btn-success">Change</button>
        </div>
    </div>
</form>

<%- include ("../_partial/_footer.ejs"); %>
