<%- include ("../_partial/_header.ejs"); %>
<style>
    .btn-secondary {
        color: #fff;
        background-color: #6c757d;
        border-color: #6c757d;
    }
</style>
<div class="row">
    <div class="col-md-11">
        <p><strong><%= user.username %>'s Profile</strong></p>
    </div>
    <% if(user.username===currentUser.username||currentUser.role==='admin') { %>
    <div class="col-md-1">
        <a href="/profile/<%= user.username%>/setting" class="btn btn-secondary">Setting</a>
    </div>
    <% } %>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="thumbnail" id="thumbnail" style="height: 320px; ">
            <a>
                <img id="profileImage" src="<% if(user.image) { %><%= '/' + user.image %><% } else { %>https://i.ibb.co/RDjpxcw/no-image-vector-symbol-missing-available-icon-no-gallery-for-this-moment-placeholder-2-JA6-BFB.jpg<% } %>" alt="Profile Image" style="width: 100%; height: 100%;" />
            </a>
        </div>
    </div>
    <div class="col-md-8">
        <p><strong>Username:</strong> <%= user.username %></p>
        <% if (currentUser.role === 'admin'||currentUser.username===user.username) { %>
        <p><strong>Email:</strong> <%= user.email %></p>
        <% } else {
        var atIndex = user.email.indexOf('@'); %>
        <p><strong>Email:</strong> <%= '*'.repeat(atIndex) + user.email.substring(atIndex) %></p>
        <% } %>          
        <p><strong>Joined:</strong> <%= new Date(user.createdAt).toLocaleDateString('en-GB', { weekday: 'short', day: 'numeric', month: 'short', year: 'numeric' }) %></p>
        <strong><p>Role:
            <% if (user.role === 'admin') { %>
                <span style="color: rgb(199, 30, 58);">Adminstrator</span>
            <% } else if (user.role === 'mod') { %>
                <span style="color: green;">Moderator</span>
            <% } else { %>
                <span style="color: blue;">Member</span>
            <% } %>
        </p>
        </strong>
        <form action="/profile/<%=user.username %>" method="POST" enctype="multipart/form-data" >
            <div class="form-group">
                <label for="bioInput">About me:</label>
                <textarea class="form-control" id="bioInput" name="bio" rows="8" style="resize: none;"><%= user.bio %></textarea>
            </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <% if(user.username===currentUser.username||currentUser.role==='admin') { %>
            <div class="form-group">
                <input type="file" name="image" accept="image/*" onchange="previewImage(event)"/>
            </div>
    </div>
    <div class="col-md-7"></div>
    <div class="col-md-1">
        <button type="submit" class="btn btn-primary">&nbsp;Save&nbsp;</button>
        <% } %>
        </form>
    </div>
</div>
<script>
    // Function to preview the selected image
    function previewImage(event) {
        const input = event.target;
        if (input.files && input.files[0]) {
            const reader = new FileReader();
            reader.onload = function (e) {
                const profileImage = document.getElementById('profileImage');
                profileImage.src = e.target.result;
            };
            reader.readAsDataURL(input.files[0]);
        }
    }
</script>
<%- include ("../_partial/_footer.ejs"); %>
