<%- include ("../_partial/_header.ejs"); %>
    <div class="row">
        <div class="col-md-6">
            <h1 style="font-size: 2.5em; font-weight: bold;">New Posts</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6" style="margin-bottom:10px;">
            <a href="/post/add" type="button" class="btn btn-primary">New Post</a>
        </div>
    </div>
    
    <% if(currentUser != null) { %>
        <% postList.forEach( Post => 
        { %>
    <div class="row" style="border-top: 1px solid #b5b9bd; border-bottom: 1px solid #b5b9bd">
            <div class="col-md-11">
                <a href="/post/<%= Post._id %>"><h4><%= Post.title %></h4></a>
                <h5><%= Post.author %> at: <%= new Date(Post.createDate).toLocaleDateString('en-GB', { weekday: 'short', day: 'numeric', month: 'short', year: 'numeric' }) %></h5>
            </div>
        <% if(currentUser.role==='admin'||currentUser.role==='mod')
        { %>
        <div class="col-md-1">
            <a href="/post/<%= Post._id %>/edit" class="btn btn-success" role="button">
                Edit
            </a>
        </div>
    </div>
    <% }}) %>
    <div class="pagination">
        <% let start = Math.max(1, pageNum - 3); %>
        <% let end = Math.min(max, start + 6); %>
        <% if (start > 1) { %>
            <a href="?page=1" class="btn btn-sm btn-light font-weight-bold" style="font-size: 20px;">1</a>
            <% if (start > 2) { %>
                <span class="btn btn-sm btn-light font-weight-bold disabled" style="font-size: 20px;">...</span>
            <% } %>
        <% } %>
        <% for (let page = start; page <= end; page++) { %>
            <% if (pageNum === page) { %>
                <span class="btn btn-sm btn-primary font-weight-bold disabled" style="font-size: 20px;"><%= page %></span>
            <% } else { %>
                <a href="?page=<%= page %>" class="btn btn-sm btn-light font-weight-bold" style="font-size: 20px;"><%= page %></a>
            <% } %>
        <% } %>
        <% if (end < max) { %>
            <% if (end < max - 1) { %>
                <span class="btn btn-sm btn-light font-weight-bold disabled" style="font-size: 20px;">...</span>
            <% } %>
            <a href="?page=<%= max %>" class="btn btn-sm btn-light font-weight-bold" style="font-size: 20px;"><%= max %></a>
        <% } %>
    </div> 
    <%} if(currentUser == null) { %> 
    <h3>Log In To See Newest Article</h3>
    <% } %>
   
<%- include ("../_partial/_footer.ejs"); %>