<%- include ("../_partial/_header.ejs"); %>
    
    <div class="row">
        <div class="col-sm-4 col-md-4">
             <div class="thumbnail">
                <a>
                    <% if(Post.image) { %>
                        <img src="<%= '/'+ Post.image %> " alt="img" />
                    <% } else { %>
                        <img src="https://i.ibb.co/1Qx9MmF/11f7815c670216f78272924c60e5d32caf075b7775137552c652113900060c5b-1.jpg"  alt="img" />
                    <% } %>
                </a>
             </div>
        </div>
        <div class="col-md-8">
            <h2><%= Post.title %></h2>
        </div>
        <div class="col-md-4">
            <h3>Posted by: <%= Post.author %></h3>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body" style="background-color: #dad7d1b6;">
                    <p style="font-size: 18px;"><%= Post.content %></p>
                </div>
            </div>
            <h6><%= Post.createDate %></h6>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h3>Add a Comment</h3>
            <form action="/post/<%= Post._id %>/comment" method="POST">
                <div class="form-group">
                    <input type="hidden" name="_method" value="POST" id="methodInput" />
                </div>
                <div class="form-group">
                    <label for="content">Comment:</label>
                    <textarea class="form-control" id="content" name="content" rows="3" required></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Đăng</button>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <% comments.forEach(cmt =>
            { %>
            <div >
                <h4 class="panel-body" style="background-color: #dad7d1b6;"><%= cmt.content %></h4>
                <h6>By: <%= cmt.author %>, at: <%= new Date(cmt.createDate).toLocaleDateString('en-GB', { weekday: 'short', day: 'numeric', month: 'short', year: 'numeric' }) %></h6>
            </div>
            <% if(currentUser.username==='admin')<!-- -->
            { %>
            <form action="/post/<%= Post._id %>/comment" method="POST">
            <div class="form-group">
                <input type="hidden" name="_method" value="DELETE" id="methodInput" />
            </div>
            <div class="form-group">
                <input type="hidden" name="comment_Id" value= <%=cmt._id %> id="Comment_IdInput" />
            </div>
            <button type="submit" class="btn btn-danger">Xóa</button>
            </form>
            <% } %>
            <% }) %>
        </div>
    </div>
<%- include ("../_partial/_footer.ejs"); %>
